/* These styles are taken (and modified) from https://github.com/zeit/serve-handler  */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    padding: 20px 30px;
    margin: 0 auto;
    width: 100vw;

    display: flex;
}

.content--file {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.content--file-name {
    font-family: "Courier", "Ubuntu Mono", monospace;
    -webkit-font-smoothing: antialiased;
}

.toc {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    border-bottom: 2px solid gray;

    background-color: white;
    width: 100vw;
    height: 60px;
}

.header h1 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    color: #000;
}

.header h1 a {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-right: 3px;
    color: #000;
}

.header h1 i {
    font-style: normal
}

.toc ul li {
    list-style: none;
}

.toc a {
    text-decoration: none;
}

.toc ul a {
    color: #000;
    margin: 0 -5px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
}

.toc ul.files {
  margin-left: 2.5em;
  margin-bottom: 1.5em;
  margin-top: 8px;
}

.toc ul.directories {
  margin-left: 0;
  margin-top: 0;
}

.toc ul li:first-child a {
    padding-top: 0;
}

.header a {
    color: #0076ff;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    line-height: 20px;
}

.toc ul .li-file::before,
.toc ul .directory::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 24px;
    text-align: center;
    line-height: 12px;
}

.toc ul .li-file {
    display: flex;
    align-items: center;
    padding: 0 5px 8px;
}

.toc ul .li-file:last-child {
    padding-bottom: 0;
}

.toc ul .li-file::before {
    content: url("data:image/svg+xml;utf8,<svg width='15' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 8C8.34 8 7 6.66 7 5V1H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h9c1.1 0 2-.9 2-2V8h-4zM8 5c0 1.1.9 2 2 2h3.59L8 1.41V5zM3 0h5l7 7v9c0 1.66-1.34 3-3 3H3c-1.66 0-3-1.34-3-3V3c0-1.66 1.34-3 3-3z' fill='black'/></svg>") !important;
}

.toc ul .li-file:hover {
    text-decoration: underline;
}

.toc ul .directory::before {
    content: url("data:image/svg+xml;utf8,<svg width='20' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18.784 3.87a1.565 1.565 0 0 0-.565-.356V2.426c0-.648-.523-1.171-1.15-1.171H8.996L7.908.25A.89.89 0 0 0 7.302 0H2.094C1.445 0 .944.523.944 1.171v2.3c-.21.085-.398.21-.565.356a1.348 1.348 0 0 0-.377 1.004l.398 9.83C.42 15.393 1.048 16 1.8 16h15.583c.753 0 1.36-.586 1.4-1.339l.398-9.83c.021-.313-.125-.69-.397-.962zM1.843 3.41V1.191c0-.146.104-.272.25-.272H7.26l1.234 1.088c.083.042.167.104.293.104h8.282c.125 0 .25.126.25.272V3.41H1.844zm15.54 11.712H1.78a.47.47 0 0 1-.481-.46l-.397-9.83c0-.147.041-.252.125-.356a.504.504 0 0 1 .377-.147H17.78c.125 0 .272.063.377.147.083.083.125.209.125.334l-.418 9.83c-.021.272-.23.482-.481.482z' fill='black'/></svg>");
}

.directory { }

/* TODO: change color */
::selection {
    background-color: #79ffe1;
    color: #000;
}

::-moz-selection {
    background-color: #79ffe1;
    color: #000;
}

@media (min-width:992px) {
    .header h1,
    .header h1 a {
        font-size: 15px;
    }
    .toc ul li {
        font-size: 13px;
    }
}

/* Overrides for bulma */
.content pre {
    background-color: #f8f8f8;
    overflow-x: scroll;
}

.content blockquote {
    background-color: #fcfcfc;
    border-left-color: #efefef;
    color: #6a737d;
}
